.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.places h1 {
    text-align: left;
    font-size: 30px;
    width: 100%;
    height: 30px;
    padding-left: 1%;
}

.places article {
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 390px;
    margin: 20px;
    padding: 20px;
}

.places article h2 {
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 14%;
}

.places article .price_by_night {
    color: #ff5a5f;
    border: 4px solid #ff5a5f;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position: absolute;
    top: 10px;
    right: 20px;
}

.places article .price_by_night p {
    margin:  auto;
    text-align: center;
}

.information {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 80px;
    width: 400px;
    padding-top: 3%;
    margin-top: 3%;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.information .max_guest {
    width: 100px;
    background-image: url("../images/icon_group.png");
    background-position: top;
    background-repeat: no-repeat;
}
.information .number_rooms {
    width: 100px;
    background-image: url("../images/icon_bed.png");
    background-position: top;
    background-repeat: no-repeat;
}
.information .number_bathrooms {
    width: 100px;
    background-image: url("../images/icon_bath.png");
    background-position: top;
    background-repeat: no-repeat;
}
.information p {
    text-align: center;
    padding-top: 35%;
}
.user span{
    font-weight: bolder;
}

.description p {
    margin: 0;
    padding: 0;
}